{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Proemion API",
    "version" : "26.7.0"
  },
  "servers" : [ {
    "url" : "https://dataportal.proemion.com/api/v26.7.0"
  } ],
  "components" : {
    "securitySchemes" : {
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "clientCredentials" : {
            "tokenUrl" : "https://dataportal.proemion.com/api/v26.7.0/auth/token",
            "scopes" : { }
          }
        }
      }
    }
  },
  "paths" : {
    "/apiClients/{clientid}/permissionsets" : {
      "get" : {
        "description" : "List API Client Permissions.",
        "operationId" : "APIClientManagement_getApiClientsKeyPermissionSets",
        "x-permission-sets" : [ "Organizations:Admin" ],
        "responses" : {
          "403" : {
            "description" : "Received if executor doesn't have permission to see this client's permission sets."
          },
          "200" : {
            "description" : "Permissions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : false,
                  "properties" : {
                    "organization" : {
                      "type" : "object",
                      "additionalProperties" : false,
                      "required" : [ "level", "assignable" ],
                      "properties" : {
                        "level" : {
                          "enum" : [ "view", "maintain", "administer" ],
                          "type" : "string"
                        },
                        "assignable" : {
                          "type" : "array",
                          "items" : {
                            "enum" : [ "view", "maintain", "administer" ],
                            "type" : "string",
                            "title" : "getApiClientsKeyPermissionSets_response_organization_assignable"
                          }
                        }
                      },
                      "title" : "getApiClientsKeyPermissionSets_response_organization"
                    },
                    "contract" : {
                      "type" : "object",
                      "additionalProperties" : false,
                      "required" : [ "level", "assignable" ],
                      "properties" : {
                        "level" : {
                          "enum" : [ "view", "maintain", "administer" ],
                          "type" : "string"
                        },
                        "assignable" : {
                          "type" : "array",
                          "items" : {
                            "enum" : [ "view", "maintain", "administer" ],
                            "type" : "string",
                            "title" : "getApiClientsKeyPermissionSets_response_contract_assignable"
                          }
                        }
                      },
                      "title" : "getApiClientsKeyPermissionSets_response_contract"
                    },
                    "machine" : {
                      "type" : "object",
                      "additionalProperties" : false,
                      "required" : [ "level", "assignable" ],
                      "properties" : {
                        "level" : {
                          "enum" : [ "view", "maintain", "administer" ],
                          "type" : "string"
                        },
                        "assignable" : {
                          "type" : "array",
                          "items" : {
                            "enum" : [ "view", "maintain", "administer" ],
                            "type" : "string",
                            "title" : "getApiClientsKeyPermissionSets_response_machine_assignable"
                          }
                        }
                      },
                      "title" : "getApiClientsKeyPermissionSets_response_machine"
                    },
                    "report" : {
                      "type" : "object",
                      "additionalProperties" : false,
                      "required" : [ "level", "assignable" ],
                      "properties" : {
                        "level" : {
                          "enum" : [ "view", "maintain", "administer" ],
                          "type" : "string"
                        },
                        "assignable" : {
                          "type" : "array",
                          "items" : {
                            "enum" : [ "view", "maintain", "administer" ],
                            "type" : "string",
                            "title" : "getApiClientsKeyPermissionSets_response_report_assignable"
                          }
                        }
                      },
                      "title" : "getApiClientsKeyPermissionSets_response_report"
                    },
                    "model" : {
                      "type" : "object",
                      "additionalProperties" : false,
                      "required" : [ "level", "assignable" ],
                      "properties" : {
                        "level" : {
                          "enum" : [ "view", "maintain", "administer" ],
                          "type" : "string"
                        },
                        "assignable" : {
                          "type" : "array",
                          "items" : {
                            "enum" : [ "view", "maintain", "administer" ],
                            "type" : "string",
                            "title" : "getApiClientsKeyPermissionSets_response_model_assignable"
                          }
                        }
                      },
                      "title" : "getApiClientsKeyPermissionSets_response_model"
                    },
                    "assignment" : {
                      "type" : "object",
                      "additionalProperties" : false,
                      "required" : [ "level", "assignable" ],
                      "properties" : {
                        "level" : {
                          "enum" : [ "view", "maintain", "administer" ],
                          "type" : "string"
                        },
                        "assignable" : {
                          "type" : "array",
                          "items" : {
                            "enum" : [ "view", "maintain", "administer" ],
                            "type" : "string",
                            "title" : "getApiClientsKeyPermissionSets_response_assignment_assignable"
                          }
                        }
                      },
                      "title" : "getApiClientsKeyPermissionSets_response_assignment"
                    },
                    "realtime" : {
                      "type" : "object",
                      "additionalProperties" : false,
                      "required" : [ "level", "assignable" ],
                      "properties" : {
                        "level" : {
                          "enum" : [ "administer" ],
                          "type" : "string"
                        },
                        "assignable" : {
                          "type" : "array",
                          "items" : {
                            "enum" : [ "administer" ],
                            "type" : "string",
                            "title" : "getApiClientsKeyPermissionSets_response_realtime_assignable"
                          }
                        }
                      },
                      "title" : "getApiClientsKeyPermissionSets_response_realtime"
                    },
                    "task" : {
                      "type" : "object",
                      "additionalProperties" : false,
                      "required" : [ "level", "assignable" ],
                      "properties" : {
                        "level" : {
                          "enum" : [ "view", "maintain", "administer" ],
                          "type" : "string"
                        },
                        "assignable" : {
                          "type" : "array",
                          "items" : {
                            "enum" : [ "view", "maintain", "administer" ],
                            "type" : "string",
                            "title" : "getApiClientsKeyPermissionSets_response_task_assignable"
                          }
                        }
                      },
                      "title" : "getApiClientsKeyPermissionSets_response_task"
                    },
                    "location" : {
                      "type" : "object",
                      "additionalProperties" : false,
                      "required" : [ "level", "assignable" ],
                      "properties" : {
                        "level" : {
                          "enum" : [ "latest", "history" ],
                          "type" : "string"
                        },
                        "assignable" : {
                          "type" : "array",
                          "items" : {
                            "enum" : [ "latest", "history" ],
                            "type" : "string",
                            "title" : "getApiClientsKeyPermissionSets_response_location_assignable"
                          }
                        }
                      },
                      "title" : "getApiClientsKeyPermissionSets_response_location"
                    },
                    "aemp" : {
                      "type" : "object",
                      "additionalProperties" : false,
                      "required" : [ "level", "assignable" ],
                      "properties" : {
                        "level" : {
                          "enum" : [ "view" ],
                          "type" : "string"
                        },
                        "assignable" : {
                          "type" : "array",
                          "items" : {
                            "enum" : [ "view" ],
                            "type" : "string",
                            "title" : "getApiClientsKeyPermissionSets_response_aemp_assignable"
                          }
                        }
                      },
                      "title" : "getApiClientsKeyPermissionSets_response_aemp"
                    },
                    "tenant" : {
                      "type" : "object",
                      "additionalProperties" : false,
                      "required" : [ "level", "assignable" ],
                      "properties" : {
                        "level" : {
                          "enum" : [ "administer" ],
                          "type" : "string"
                        },
                        "assignable" : {
                          "type" : "array",
                          "items" : {
                            "enum" : [ "administer" ],
                            "type" : "string",
                            "title" : "getApiClientsKeyPermissionSets_response_tenant_assignable"
                          }
                        }
                      },
                      "title" : "getApiClientsKeyPermissionSets_response_tenant"
                    },
                    "theme" : {
                      "type" : "object",
                      "additionalProperties" : false,
                      "required" : [ "level", "assignable" ],
                      "properties" : {
                        "level" : {
                          "enum" : [ "administer" ],
                          "type" : "string"
                        },
                        "assignable" : {
                          "type" : "array",
                          "items" : {
                            "enum" : [ "administer" ],
                            "type" : "string",
                            "title" : "getApiClientsKeyPermissionSets_response_theme_assignable"
                          }
                        }
                      },
                      "title" : "getApiClientsKeyPermissionSets_response_theme"
                    },
                    "dashboard" : {
                      "type" : "object",
                      "additionalProperties" : false,
                      "required" : [ "level", "assignable" ],
                      "properties" : {
                        "level" : {
                          "enum" : [ "administer" ],
                          "type" : "string"
                        },
                        "assignable" : {
                          "type" : "array",
                          "items" : {
                            "enum" : [ "administer" ],
                            "type" : "string",
                            "title" : "getApiClientsKeyPermissionSets_response_dashboard_assignable"
                          }
                        }
                      },
                      "title" : "getApiClientsKeyPermissionSets_response_dashboard"
                    },
                    "geoarea" : {
                      "type" : "object",
                      "additionalProperties" : false,
                      "required" : [ "level", "assignable" ],
                      "properties" : {
                        "level" : {
                          "enum" : [ "administer" ],
                          "type" : "string"
                        },
                        "assignable" : {
                          "type" : "array",
                          "items" : {
                            "enum" : [ "administer" ],
                            "type" : "string",
                            "title" : "getApiClientsKeyPermissionSets_response_geoarea_assignable"
                          }
                        }
                      },
                      "title" : "getApiClientsKeyPermissionSets_response_geoarea"
                    }
                  },
                  "title" : "getApiClientsKeyPermissionSets_response"
                },
                "example" : {
                  "organization" : {
                    "level" : "administer",
                    "assignable" : [ "maintain", "administer" ]
                  },
                  "contract" : {
                    "level" : "view",
                    "assignable" : [ "view" ]
                  },
                  "machine" : {
                    "level" : "maintain",
                    "assignable" : [ "maintain" ]
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Received if client id doesn't exist or is not in the organization tree of the executor."
          }
        },
        "tags" : [ "APIClientManagement" ],
        "parameters" : [ {
          "name" : "clientid",
          "in" : "path",
          "description" : "Client external ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/apiVersion" : {
      "get" : {
        "description" : "Latest API version.",
        "operationId" : "APIversion_getApiVersion",
        "x-permission-sets" : [ "None" ],
        "responses" : {
          "200" : {
            "description" : "If all is well"
          }
        },
        "tags" : [ "APIversion" ]
      }
    },
    "/assignments" : {
      "get" : {
        "description" : "List Assignments.",
        "operationId" : "Assignments_getAssignments",
        "x-permission-sets" : [ "Assignments:View" ],
        "responses" : {
          "400" : {
            "description" : "Received if any of machines specified does not exist or the requester is not entitled to manage it."
          },
          "200" : {
            "description" : "Assignment List",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : false,
                  "required" : [ "assignments" ],
                  "properties" : {
                    "assignments" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "additionalProperties" : false,
                        "required" : [ "id", "title", "createdAt", "timerange", "status", "machines", "signals", "organization" ],
                        "properties" : {
                          "id" : {
                            "type" : "string",
                            "maxLength" : 256,
                            "description" : "assignment identifier"
                          },
                          "title" : {
                            "type" : "string",
                            "description" : "assignment title (up to 255 characters)"
                          },
                          "createdAt" : {
                            "type" : "number",
                            "description" : "Assignment creation time in epoch millis"
                          },
                          "description" : {
                            "type" : "string",
                            "description" : "assignment description (up to 2000 characters)"
                          },
                          "timerange" : {
                            "type" : "object",
                            "description" : "assignment timerange",
                            "additionalProperties" : false,
                            "required" : [ "start" ],
                            "properties" : {
                              "start" : {
                                "type" : "number",
                                "description" : "Assignment start time in epoch millis"
                              },
                              "end" : {
                                "type" : "number",
                                "description" : "Assignment end time in epoch millis. If defined must be greater than `start`."
                              }
                            },
                            "title" : "getAssignments_response_assignments_timerange"
                          },
                          "externalKey" : {
                            "type" : "string",
                            "description" : "assignment external key (up to 255 characters). An\nidentifier from the assignment creator in any other system this is\ntracked in. We allow exact match filtering on this key.\n"
                          },
                          "status" : {
                            "enum" : [ "draft", "confirmed", "archived" ],
                            "type" : "string",
                            "description" : "assignment status"
                          },
                          "substatus" : {
                            "enum" : [ "upcoming", "active", "completed" ],
                            "type" : "string",
                            "description" : "Sub status of the status `confirmed`. Will be present only if\n`status` has value `confirmed`.\n"
                          },
                          "machines" : {
                            "type" : "array",
                            "description" : "linked machines (min 1, max 100 items)",
                            "items" : {
                              "type" : "string",
                              "title" : "getAssignments_response_assignments_machines"
                            }
                          },
                          "signals" : {
                            "type" : "array",
                            "description" : "keys of signals to track for the assignment",
                            "items" : {
                              "type" : "string",
                              "title" : "getAssignments_response_assignments_signals"
                            }
                          },
                          "organization" : {
                            "description" : "Organization where the assignment is bound",
                            "type" : "object",
                            "additionalProperties" : false,
                            "required" : [ "id", "name", "type" ],
                            "properties" : {
                              "id" : {
                                "type" : "string",
                                "description" : "ID."
                              },
                              "name" : {
                                "type" : "string",
                                "description" : "Name."
                              },
                              "type" : {
                                "enum" : [ "proemion", "distributor", "oem", "dealer", "machine_owner", "none" ],
                                "type" : "string",
                                "description" : "Organization unit type."
                              }
                            },
                            "title" : "getAssignments_response_assignments_organization"
                          }
                        },
                        "title" : "getAssignments_response_assignments"
                      }
                    }
                  },
                  "title" : "getAssignments_response"
                },
                "example" : {
                  "assignments" : [ {
                    "id" : "x7y8z9",
                    "title" : "Assignment title",
                    "createdAt" : 1549008247000,
                    "description" : "Assignment description",
                    "timerange" : {
                      "start" : 1549008247000,
                      "end" : 1549181047000
                    },
                    "externalKey" : "customer external key",
                    "status" : "draft",
                    "machines" : [ "8888", "9999" ],
                    "signals" : [ "any.signal" ],
                    "organization" : {
                      "id" : "1589clz-cDeD",
                      "name" : "Org Inc.",
                      "type" : "oem"
                    }
                  }, {
                    "id" : "x7y8z10",
                    "title" : "More Assignments title",
                    "createdAt" : 1549008247000,
                    "description" : "Assignment description",
                    "timerange" : {
                      "start" : 1549008247000,
                      "end" : 1549181047000
                    },
                    "externalKey" : "customer external key",
                    "status" : "confirmed",
                    "substatus" : "upcoming",
                    "machines" : [ "8888", "9999" ],
                    "signals" : [ "any.signal" ],
                    "organization" : {
                      "id" : "1589clz-cDeD",
                      "name" : "Org Inc.",
                      "type" : "oem"
                    }
                  }, {
                    "id" : "x7y8z8",
                    "title" : "Another assignment title",
                    "createdAt" : 1549008247000,
                    "description" : "Assignment description",
                    "timerange" : {
                      "start" : 1549004247000,
                      "end" : 1549004347000
                    },
                    "externalKey" : "Another external key",
                    "status" : "archived",
                    "machines" : [ "9999" ],
                    "signals" : [ "first.signal", "another.signal" ],
                    "organization" : {
                      "id" : "1589clz-cDeD",
                      "name" : "Org Inc.",
                      "type" : "oem"
                    }
                  } ]
                }
              }
            }
          }
        },
        "tags" : [ "Assignments" ],
        "parameters" : [ {
          "name" : "externalKey",
          "in" : "query",
          "description" : "External key to filter by; optional; partial match allowed; case-insensitive.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "title",
          "in" : "query",
          "description" : "Title to filter by; optional; partial match allowed; case-insensitive.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "machine",
          "in" : "query",
          "description" : "Parameter used as a filter of assignments by machine ID.\nCan be supplied multiple times to filter by many machines.\nAn assignment matches the filter if it has any of the mentioned machines (`OR` logic).\nMachine has to be in requester's organization tree.",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Parameter used as a filter of assignments by its status.\nCan be supplied multiple times to filter by many statuses.\nAn assignment matches the filter if it has one of mentioned\nstatuses (`OR` logic).",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "substatus",
          "in" : "query",
          "description" : "Parameter used as filter of assignments by its sub status.\nCan be supplied multiple times to filter by many sub statuses.\nAn assignment matches the filter if it has one of the mentioned\nstatuses (`OR` logic).",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Start time of the query in epoch millis. Matches on start and end date of the assignments.\n`to` - `from` should be less than 30 days otherwise bad request is returned.\nMust be used together with the `to` parameter.\nIf neither `from` nor `to` are specified, the time range of last 14 days would be applied.",
          "required" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "End time of the query in epoch millis. Matches on start and end date of the assignments.\n`to` - `from` should be less than 30 days otherwise bad request is returned.\nMust be used together with the `from` parameter.\nIf neither `from` nor `to` are specified, the time range of last 14 days would be applied.",
          "required" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Query limit",
          "required" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Query offset",
          "required" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Sorting field",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "security" : [ {
          "oauth2" : [ ]
        } ]
      },
      "post" : {
        "description" : "Create Assignment.",
        "operationId" : "Assignments_postAssignments",
        "x-permission-sets" : [ "Assignments:Admin" ],
        "responses" : {
          "400" : {
            "description" : "Received if:\n- request is malformed;\n- if `title`, `start`, `status` is missing or `machines` list is empty;\n- `machines` list contains more than 100 items;\n- any of the machines specified does not exist or the requester is not entitled to manage it;\n- `end` parameter is missing for the assignment with non `draft` status;\n- `end` parameter is greater than `start`;\n- if requester does not have the special permission and tries to provide an `organization` other than his own."
          },
          "403" : {
            "description" : "Received if the requester is not entitled to perform the operation."
          },
          "201" : {
            "description" : "A new assignment was created successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : false,
                  "required" : [ "id" ],
                  "properties" : {
                    "id" : {
                      "type" : "string",
                      "description" : "ID of the newly created item."
                    }
                  },
                  "title" : "postAssignments_response"
                },
                "example" : {
                  "id" : "x7y8z9"
                }
              }
            }
          }
        },
        "tags" : [ "Assignments" ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "additionalProperties" : false,
                "required" : [ "title", "timerange", "status", "machines", "signals" ],
                "properties" : {
                  "title" : {
                    "maxLength" : 256,
                    "type" : "string",
                    "description" : "assignment title"
                  },
                  "description" : {
                    "maxLength" : 2000,
                    "type" : "string",
                    "description" : "assignment description"
                  },
                  "timerange" : {
                    "type" : "object",
                    "description" : "assignment timerange",
                    "additionalProperties" : false,
                    "required" : [ "start" ],
                    "properties" : {
                      "start" : {
                        "type" : "number",
                        "description" : "assignment start time in epoch millis"
                      },
                      "end" : {
                        "type" : "number",
                        "description" : "assignment end time in epoch millis. If defined must be greater than `start`."
                      }
                    },
                    "title" : "postAssignments_request_timerange"
                  },
                  "externalKey" : {
                    "maxLength" : 256,
                    "type" : "string",
                    "description" : "assignment external key. An\nidentifier from the assignment creator in any other system this is\ntracked in. We allow exact match filtering on this key.\n"
                  },
                  "status" : {
                    "enum" : [ "draft", "confirmed", "archived" ],
                    "type" : "string",
                    "description" : "assignment status"
                  },
                  "machines" : {
                    "type" : "array",
                    "description" : "linked machines (min 1, max 100 items)",
                    "items" : {
                      "type" : "string",
                      "title" : "postAssignments_request_machines"
                    }
                  },
                  "signals" : {
                    "type" : "array",
                    "description" : "keys of signals to track for the assignment",
                    "items" : {
                      "type" : "string",
                      "title" : "postAssignments_request_signals"
                    }
                  },
                  "organization" : {
                    "type" : "string",
                    "description" : "Assignment Organization ID. Only users in this exact organization will be able to see the assignment. Can be omitted or equal to the requester's organization. A special permission is required to provide a different organization."
                  }
                },
                "title" : "postAssignments_request"
              },
              "example" : {
                "title" : "Assignment title",
                "description" : "Assignment description",
                "timerange" : {
                  "start" : 1549008247000,
                  "end" : 1549181047000
                },
                "externalKey" : "customer external key",
                "status" : "draft",
                "machines" : [ "abc-8888", "abc-9999" ],
                "signals" : [ "first.signal", "another.signal" ]
              }
            }
          }
        },
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/assignments/subscription" : {
      "get" : {
        "description" : "Assignment notifications subscription status.",
        "operationId" : "Subscriptions_getAssignmentSubscription",
        "x-permission-sets" : [ "Assignments:View" ],
        "responses" : {
          "403" : {
            "description" : "Received if the requester is not entitled to perform the operation."
          },
          "200" : {
            "description" : "Assignment notifications subscription\n  status",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : false,
                  "required" : [ "active" ],
                  "properties" : {
                    "active" : {
                      "type" : "boolean",
                      "description" : "Subscription status."
                    }
                  },
                  "title" : "getAssignmentSubscription_response"
                },
                "example" : {
                  "active" : true
                }
              }
            }
          }
        },
        "tags" : [ "Subscriptions" ],
        "security" : [ {
          "oauth2" : [ ]
        } ]
      },
      "put" : {
        "description" : "Set assignment notifications subscription status.",
        "operationId" : "Subscriptions_putAssignmentSubscription",
        "x-permission-sets" : [ "Assignments:View" ],
        "responses" : {
          "403" : {
            "description" : "Received if the requester is not entitled to perform the operation."
          },
          "204" : {
            "description" : "Assignment notifications subscription was successful"
          }
        },
        "tags" : [ "Subscriptions" ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "additionalProperties" : false,
                "required" : [ "active" ],
                "properties" : {
                  "active" : {
                    "type" : "boolean",
                    "description" : "Subscription status."
                  }
                },
                "title" : "putAssignmentSubscription_request"
              },
              "example" : {
                "active" : true
              }
            }
          }
        },
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/assignments/{id}" : {
      "delete" : {
        "description" : "Delete an Assignment.",
        "operationId" : "Assignments_deleteAssignmentsId",
        "x-permission-sets" : [ "Assignments:Admin" ],
        "responses" : {
          "403" : {
            "description" : "Received if the requester is not entitled to perform the operation."
          },
          "204" : {
            "description" : "The assignment was successfully deleted."
          },
          "404" : {
            "description" : "Received if the assignment does not exist or the requester is not entitled to it."
          }
        },
        "tags" : [ "Assignments" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Assignment ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "security" : [ {
          "oauth2" : [ ]
        } ]
      },
      "get" : {
        "description" : "Get an Assignment.",
        "operationId" : "Assignments_getAssignmentsId",
        "x-permission-sets" : [ "Assignments:View" ],
        "responses" : {
          "403" : {
            "description" : "Received if the requester is not entitled to perform the operation."
          },
          "200" : {
            "description" : "Assignment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : false,
                  "required" : [ "id", "title", "createdAt", "timerange", "status", "machines", "signals", "organization" ],
                  "properties" : {
                    "id" : {
                      "type" : "string",
                      "maxLength" : 256,
                      "description" : "assignment identifier"
                    },
                    "title" : {
                      "type" : "string",
                      "description" : "assignment title (up to 255 characters)"
                    },
                    "createdAt" : {
                      "type" : "number",
                      "description" : "Assignment creation time in epoch millis"
                    },
                    "description" : {
                      "type" : "string",
                      "description" : "assignment description (up to 2000 characters)"
                    },
                    "timerange" : {
                      "type" : "object",
                      "description" : "assignment timerange",
                      "additionalProperties" : false,
                      "required" : [ "start" ],
                      "properties" : {
                        "start" : {
                          "type" : "number",
                          "description" : "Assignment start time in epoch millis"
                        },
                        "end" : {
                          "type" : "number",
                          "description" : "Assignment end time in epoch millis. If defined must be greater than `start`."
                        }
                      },
                      "title" : "getAssignmentsId_response_timerange"
                    },
                    "externalKey" : {
                      "type" : "string",
                      "description" : "assignment external key (up to 255 characters). An\nidentifier from the assignment creator in any other system this is\ntracked in. We allow exact match filtering on this key.\n"
                    },
                    "status" : {
                      "enum" : [ "draft", "confirmed", "archived" ],
                      "type" : "string",
                      "description" : "assignment status"
                    },
                    "substatus" : {
                      "enum" : [ "upcoming", "active", "completed" ],
                      "type" : "string",
                      "description" : "Sub status of the status `confirmed`. Will be present only if\n`status` has value `confirmed`.\n"
                    },
                    "machines" : {
                      "type" : "array",
                      "description" : "linked machines (min 1, max 100 items)",
                      "items" : {
                        "type" : "string",
                        "title" : "getAssignmentsId_response_machines"
                      }
                    },
                    "signals" : {
                      "type" : "array",
                      "description" : "keys of signals to track for the assignment",
                      "items" : {
                        "type" : "string",
                        "title" : "getAssignmentsId_response_signals"
                      }
                    },
                    "organization" : {
                      "description" : "Organization unit.",
                      "type" : "object",
                      "additionalProperties" : false,
                      "required" : [ "id", "name", "type" ],
                      "properties" : {
                        "id" : {
                          "type" : "string",
                          "description" : "ID."
                        },
                        "name" : {
                          "type" : "string",
                          "description" : "Name."
                        },
                        "type" : {
                          "enum" : [ "proemion", "distributor", "oem", "dealer", "machine_owner", "none" ],
                          "type" : "string",
                          "description" : "Organization unit type."
                        }
                      },
                      "title" : "getAssignmentsId_response_organization"
                    },
                    "deltaValues" : {
                      "type" : "array",
                      "description" : "The delta aggregated values for the configured signals.\nThe values are aggregated over the time range of the assignment.\nIf the assignment is not yet completed, the values are aggregated from the start of the assignment until the requesting time.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "signalKey" : {
                            "type" : "string",
                            "description" : "The signal of the listed delta values"
                          },
                          "perMachine" : {
                            "type" : "array",
                            "description" : "Mapping of each configured machine with its delta value.\nMachines without data points in the assignment's time range will not be listed.",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "machineId" : {
                                  "type" : "string"
                                },
                                "value" : {
                                  "type" : "number",
                                  "description" : "The aggregated delta value for the time range of the assignment"
                                }
                              },
                              "required" : [ "machineId", "value" ],
                              "title" : "getAssignmentsId_response_deltaValues_perMachine"
                            }
                          },
                          "totalValue" : {
                            "type" : "number",
                            "description" : "Sum of all listed machine delta values"
                          }
                        },
                        "required" : [ "signalKey", "perMachine", "totalValue" ],
                        "title" : "getAssignmentsId_response_deltaValues"
                      }
                    }
                  },
                  "title" : "getAssignmentsId_response"
                },
                "example" : {
                  "id" : "x7y8z9",
                  "title" : "Assignment title",
                  "createdAt" : 1549008247000,
                  "description" : "Assignment description",
                  "timerange" : {
                    "start" : 1549008247000,
                    "end" : 1549181047000
                  },
                  "externalKey" : "customer external key",
                  "status" : "draft",
                  "machines" : [ "8888", "9999" ],
                  "signals" : [ "any.signal" ],
                  "organization" : {
                    "id" : "1589clz-cDeD",
                    "name" : "Org Inc.",
                    "type" : "oem"
                  },
                  "deltaValues" : [ {
                    "signalKey" : "any.signal",
                    "perMachine" : [ {
                      "machineId" : "8888",
                      "value" : 38.5
                    } ],
                    "totalValue" : 38.5
                  } ]
                }
              }
            }
          },
          "404" : {
            "description" : "Received if the assignment does not exist or the requester is not entitled to it."
          }
        },
        "tags" : [ "Assignments" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Assignment ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deltaValues",
          "in" : "query",
          "description" : "Set to \"true\" to include the delta values in the response.\n  Defaults to \"false\"",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "security" : [ {
          "oauth2" : [ ]
        } ]
      },
      "patch" : {
        "description" : "Modify Multiple Assignment Properties.",
        "operationId" : "Assignments_patchAssignmentsKey",
        "x-permission-sets" : [ "Assignments:Maintain" ],
        "responses" : {
          "400" : {
            "description" : "If:\n- The payload is malformed, for example `value` is missing.\n- Assignment `id` is not found or requester is not entitled to it."
          },
          "403" : {
            "description" : "If authenticated user is not entitled to manage assignments."
          },
          "204" : {
            "description" : "All the operations have been successfully applied."
          },
          "404" : {
            "description" : "If assignment `id` is not found or the requester is not entitled to it."
          }
        },
        "tags" : [ "Assignments" ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "additionalProperties" : false,
                  "required" : [ "op", "path" ],
                  "properties" : {
                    "op" : {
                      "enum" : [ "remove", "replace" ],
                      "description" : "the operation to perform",
                      "type" : "string"
                    },
                    "path" : {
                      "type" : "string",
                      "description" : "the path to which `op` will be applied, in the form `/{assignment-attribute}`."
                    },
                    "value" : {
                      "description" : "a new value to assign, if `op` is `replace`."
                    }
                  },
                  "title" : "patchAssignmentsKey_request"
                }
              },
              "example" : [ {
                "op" : "replace",
                "path" : "/title",
                "value" : "New Title"
              }, {
                "op" : "remove",
                "path" : "/description"
              } ]
            }
          }
        },
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Assignment ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/auth/ssoLoginUrls" : {
      "get" : {
        "description" : "Authorization URLs for authentication of SSO users.",
        "operationId" : "Authentication_getAuthSsoLoginUrls",
        "x-permission-sets" : [ "None" ],
        "responses" : {
          "204" : {
            "description" : "SSO not configured for the provided Data Portal domain name."
          },
          "200" : {
            "description" : "URLs",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : false,
                  "required" : [ "ssoLoginUrl", "nativeLogin" ],
                  "properties" : {
                    "ssoLoginUrl" : {
                      "type" : "string",
                      "description" : "Authorization endpoint URL. Does not contain query parameters"
                    },
                    "nativeLogin" : {
                      "type" : "boolean",
                      "description" : "If true, we allow native user logins alongside SSO users. If false, only SSO users are allowed to use the domain this request was made on."
                    }
                  },
                  "title" : "getAuthSsoLoginUrls_response"
                },
                "example" : {
                  "ssoLoginUrl" : "https://customer.proemion.com/auth/realms/9575e3e5-4d37-4d58-99a5-442f885528f6/protocol/openid-connect/auth",
                  "nativeLogin" : false
                }
              }
            }
          }
        },
        "tags" : [ "Authentication" ]
      }
    },
    "/auth/token" : {
      "post" : {
        "description" : "OAuth 2.0 compliant Authentication.",
        "operationId" : "Authentication_postAuthToken",
        "x-permission-sets" : [ "None" ],
        "responses" : {
          "400" : {
            "description" : "Received if:\n- mandatory attributes are missing;\n- unsupported grant_type was passed;\n- authentication failed because of any other client side error.\n\nResponse can contain following \"error_code\" values:\n- \"auth.email.idp\" - User's email was not transferred by the Identity Provider;\n- \"auth.role.idp\" - There was a problem with user's role transferred by the Identity Provider;\n- \"auth.organization.idp\" - There was a problem with target organization resolution;\n- \"other\" - There was a problem with authentication.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "type" : "integer",
                      "description" : "Http error code."
                    },
                    "error" : {
                      "type" : "string",
                      "description" : "Error code according to OAuth2 [RFC6749](https://datatracker.ietf.org/doc/html/rfc6749#section-5.2)"
                    },
                    "error_description" : {
                      "type" : "string",
                      "description" : "Error description compliant with OAuth2 RFC6749. To facilitate our customers using OAuth2 libraries we use this standard OAuth2 field to transfer both the `error_code` and `message` values as `[error_code] message`"
                    },
                    "error_code" : {
                      "type" : "string",
                      "description" : "Custom error code to simplify non OAuth2 error handling."
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "Error description. For compatibility with error responses from other endpoints."
                    },
                    "details" : {
                      "type" : "string",
                      "description" : "A link to get more information about the API."
                    },
                    "logid" : {
                      "type" : "string",
                      "description" : "Identified of the error response in logs to simplify support."
                    }
                  },
                  "required" : [ "code", "error", "error_code", "message", "details", "logid" ],
                  "title" : "postAuthToken_response"
                },
                "example" : {
                  "code" : 400,
                  "error" : "invalid_request",
                  "error_description" : "[auth.email.idp] User's email was not transferred by the Identity Provider",
                  "error_code" : "auth.email.idp",
                  "message" : "User's email was not transferred by the Identity Provider",
                  "details" : "See https://docs.proemion.com/api",
                  "logid" : "353gdgfdh4565"
                }
              }
            }
          },
          "429" : {
            "description" : "Received if login attempt is throttled."
          },
          "200" : {
            "description" : "Authentication was successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "access_token" : {
                      "type" : "string",
                      "description" : "contains the access_token for the given user."
                    },
                    "expires_in" : {
                      "type" : "integer",
                      "description" : "Token's expiration time in seconds."
                    },
                    "refresh_token" : {
                      "type" : "string",
                      "description" : "Credential artifact to get a new access token without user interaction."
                    },
                    "token_type" : {
                      "type" : "string",
                      "enum" : [ "bearer" ],
                      "description" : "Token type. Supported values: [bearer]"
                    }
                  },
                  "required" : [ "access_token", "token_type" ],
                  "title" : "postAuthToken_response"
                },
                "example" : {
                  "access_token" : "dfjldf93lkj4398df.kf9834ldfo3.j43fdkd83ldeld",
                  "expires_in" : 3600,
                  "token_type" : "bearer"
                }
              }
            }
          }
        },
        "tags" : [ "Authentication" ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "grant_type" : {
                    "type" : "string",
                    "description" : "OAuth grant type of the request. Currently, _client_credentials_ and _authorization_code_ are supported."
                  },
                  "client_id" : {
                    "type" : "string",
                    "description" : "The client identifier."
                  },
                  "client_secret" : {
                    "type" : "string",
                    "description" : "The client secret. **Required** for _client_credentials_ grant_type"
                  },
                  "code" : {
                    "type" : "string",
                    "description" : "Authorization code. **Required** for _authorization_code_ grant_type"
                  },
                  "redirect_uri" : {
                    "type" : "string",
                    "description" : "Redirect URI. **Required** for _authorization_code_ grant_type"
                  },
                  "code_verifier" : {
                    "type" : "string",
                    "description" : "Code verifier string. **Required** for _authorization_code_ grant_type with PKCE extension"
                  }
                },
                "required" : [ "grant_type", "client_id" ],
                "title" : "postAuthToken_request"
              }
            }
          }
        }
      }
    },
    "/authz/oauth2/token" : {
      "post" : {
        "description" : "Native User (non-SSO) Authentication.",
        "operationId" : "Authentication_postAuthzOauth2Token",
        "x-permission-sets" : [ "None" ],
        "responses" : {
          "401" : {
            "description" : "Received if:\n- the credentials do not match any user account;\n- the user's account is locked or banned;"
          },
          "429" : {
            "description" : "Received if login attempt is throttled."
          },
          "303" : {
            "description" : "Redirecting authentication was successful."
          },
          "200" : {
            "description" : "Non-redirecting authentication was successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : false,
                  "required" : [ "access_token", "expires_in", "scope", "token_type" ],
                  "properties" : {
                    "access_token" : {
                      "type" : "string",
                      "description" : "OAuth2 access token."
                    },
                    "expires_in" : {
                      "type" : "integer",
                      "description" : "Token lifetime in seconds."
                    },
                    "scope" : {
                      "type" : "string",
                      "description" : "Comma-separated list of granted scopes."
                    },
                    "token_type" : {
                      "type" : "string",
                      "description" : "Token type, always 'bearer'."
                    }
                  },
                  "title" : "postAuthzOauth2Token_response"
                },
                "example" : {
                  "access_token" : "dfjldf93lkj4398df.kf9834ldfo3.j43fdkd83ldeld",
                  "expires_in" : 3600,
                  "scope" : "read,write",
                  "token_type" : "bearer"
                }
              }
            }
          }
        },
        "tags" : [ "Authentication" ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "username" : {
                    "type" : "string",
                    "description" : "user name of the user"
                  },
                  "password" : {
                    "type" : "string",
                    "description" : "password of the user"
                  },
                  "grant_type" : {
                    "type" : "string",
                    "description" : "OAuth grant type of the request. Currently only \"password\" is supported"
                  },
                  "client_id" : {
                    "type" : "string",
                    "description" : "the name of your application for troubleshooting and migration purposes\n\nWe recommend the form `companyName-application/libraryName`.\n\nWhere `companyName` is your company name and `application/libraryName` is the name for your application or library for this API."
                  },
                  "redirect_uri" : {
                    "type" : "string",
                    "description" : "URL to which OAuth response should redirect."
                  }
                },
                "required" : [ "username", "password", "grant_type", "client_id" ],
                "title" : "postAuthzOauth2Token_request"
              }
            }
          }
        }
      }
    },
    "/businessUnits" : {
      "post" : {
        "description" : "Create Business Unit.",
        "operationId" : "BusinessUnits_postBusinessUnits",
        "x-permission-sets" : [ "Organizations:Maintain" ],
        "responses" : {
          "400" : {
            "description" : "Received if:\n- required parameter is missing;\n- name is too long;\n- business unit type is invalid, not allowed or malformed;\n- tries to set a type and parent organization doesn't have a type defined;\n- type is higher than parent organization type."
          },
          "403" : {
            "description" : "Received if requester has no permission to manage organizations."
          },
          "200" : {
            "description" : "Creates successfully a new business unit.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : false,
                  "required" : [ "rootOrgId", "name", "type" ],
                  "properties" : {
                    "rootOrgId" : {
                      "type" : "string",
                      "maxLength" : 256,
                      "description" : "Business unit root organization identifier."
                    },
                    "name" : {
                      "type" : "string",
                      "description" : "Business unit name."
                    },
                    "type" : {
                      "description" : "Business unit type.",
                      "enum" : [ "distributor", "oem", "dealer", "machine_owner" ],
                      "type" : "string"
                    }
                  },
                  "title" : "postBusinessUnits_response"
                },
                "example" : {
                  "rootOrgId" : "abcde12345",
                  "name" : "Business Unit Name",
                  "type" : "machine_owner"
                }
              }
            }
          },
          "404" : {
            "description" : "Received if specified parent organization does not exist or requester is not entitled for it"
          }
        },
        "tags" : [ "BusinessUnits" ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "additionalProperties" : false,
                "required" : [ "name", "parentOrgId", "type" ],
                "properties" : {
                  "name" : {
                    "type" : "string",
                    "description" : "Business unit name."
                  },
                  "parentOrgId" : {
                    "type" : "string",
                    "maxLength" : 256,
                    "description" : "Parent Organization unit identifier."
                  },
                  "type" : {
                    "description" : "Business unit type.",
                    "enum" : [ "distributor", "oem", "dealer", "machine_owner" ],
                    "type" : "string"
                  }
                },
                "title" : "postBusinessUnits_request"
              },
              "example" : {
                "name" : "Business Unit Name",
                "parentOrgId" : "abcde12345",
                "type" : "machine_owner"
              }
            }
          }
        },
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/businessUnits/{id}/type" : {
      "put" : {
        "description" : "Update Business Unit type.",
        "operationId" : "BusinessUnits_putBusinessUnitsIdType",
        "x-permission-sets" : [ "Organizations:Maintain" ],
        "responses" : {
          "400" : {
            "description" : "Received if:\n- requested type does not comply with the rules described above\n- type is null/invalid/unknown/empty/blank."
          },
          "403" : {
            "description" : "Received if:\n- user has no permission to manage organizations;\n- update would violate contract limits"
          },
          "200" : {
            "description" : "User successfully updated the Business Unit type.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : false,
                  "required" : [ "id", "name", "type" ],
                  "properties" : {
                    "id" : {
                      "type" : "string",
                      "description" : "Business unit identifier."
                    },
                    "name" : {
                      "type" : "string",
                      "description" : "Business unit name."
                    },
                    "type" : {
                      "enum" : [ "distributor", "oem", "dealer", "machine_owner" ],
                      "type" : "string",
                      "description" : "Business unit type."
                    }
                  },
                  "title" : "putBusinessUnitsIdType_response"
                },
                "example" : {
                  "id" : "abcde12345",
                  "name" : "Org Type",
                  "type" : "machine_owner"
                }
              }
            }
          },
          "404" : {
            "description" : "Received if specified Business Unit root does not exist or user is not entitled for it."
          }
        },
        "tags" : [ "BusinessUnits" ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "additionalProperties" : false,
                "properties" : {
                  "type" : {
                    "type" : "string",
                    "description" : "The new Business Unit type.",
                    "enum" : [ "distributor", "oem", "dealer", "machine_owner" ]
                  }
                },
                "required" : [ "type" ],
                "title" : "putBusinessUnitsIdType_request"
              },
              "example" : {
                "type" : "machine_owner"
              }
            }
          }
        },
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Business unit root organization ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/clmConfigurationBundles" : {
      "get" : {
        "description" : "Get all available CLM configuration bundles.",
        "operationId" : "CLMconfigurations_getClmConfigBundles",
        "x-permission-sets" : [ "Models:Admin", "Machines:Admin" ],
        "responses" : {
          "200" : {
            "description" : "CLM configuration bundles",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : false,
                  "required" : [ "clmConfigurationBundles" ],
                  "properties" : {
                    "clmConfigurationBundles" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "additionalProperties" : false,
                        "required" : [ "id", "name" ],
                        "properties" : {
                          "id" : {
                            "maxLength" : 256,
                            "type" : "string",
                            "description" : "ID of the CLM configuration bundle"
                          },
                          "name" : {
                            "type" : "string",
                            "description" : "CLM configuration bundle name."
                          },
                          "organization" : {
                            "description" : "The organization unit the CLM configuration belongs to.",
                            "type" : "object",
                            "additionalProperties" : false,
                            "required" : [ "id", "name", "type" ],
                            "properties" : {
                              "id" : {
                                "type" : "string",
                                "description" : "ID."
                              },
                              "name" : {
                                "type" : "string",
                                "description" : "Name."
                              },
                              "type" : {
                                "enum" : [ "proemion", "distributor", "oem", "dealer", "machine_owner", "none" ],
                                "type" : "string",
                                "description" : "Organization unit type."
                              }
                            },
                            "title" : "getClmConfigBundles_response_clmConfigurationBundles_organization"
                          },
                          "productCodes" : {
                            "type" : "array",
                            "description" : "Product codes of the CLM units for which the configuration is designed.",
                            "items" : {
                              "type" : "string",
                              "title" : "getClmConfigBundles_response_clmConfigurationBundles_productCodes"
                            }
                          },
                          "cuModel" : {
                            "type" : "string",
                            "description" : "CU model the bundle is designed for.",
                            "example" : "CLM_10000"
                          },
                          "versionsCount" : {
                            "type" : "number",
                            "description" : "Count of versions in the bundle."
                          }
                        },
                        "title" : "getClmConfigBundles_response_clmConfigurationBundles"
                      }
                    }
                  },
                  "title" : "getClmConfigBundles_response"
                },
                "example" : {
                  "clmConfigurationBundles" : [ {
                    "id" : "absd1234",
                    "name" : "Bundle name",
                    "organization" : {
                      "id" : "12345fggh",
                      "name" : "Binding org",
                      "type" : "oem"
                    },
                    "productCodes" : [ "6554231", "6554232" ],
                    "cuModel" : "CLM_10000",
                    "versionsCount" : 2
                  } ]
                }
              }
            }
          }
        },
        "tags" : [ "CLMconfigurations" ],
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "description" : "The query to execute for filtering (see our <a href=\"#api-RSQL_Specification\">RSQL specification</a>).\n\nThe following fields are available for both filtering and sorting:\n- `productCodes`: Bundle's product codes\n- `cuModel`: Bundle's CU model (only present for CLM10K bundles)\n- `organization.id`: Bound organization ID\n- `organization.name`: Bound organization name\n- `organization.type`: Bound organization type\n- `name`: Bundle name\n- `id`: Bundle ID",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "Fields to be returned besides the core set (see our <a href=\"#api-Projection\">Projection specification</a>).",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Query limit",
          "required" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Query offset",
          "required" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Sorting field",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/clmConfigurationBundles/countBy" : {
      "get" : {
        "description" : "Count CLM configurations bundles.",
        "operationId" : "CLMconfigurations_getClmConfigBundlesCountBy",
        "x-permission-sets" : [ "Models:Admin", "Machines:Admin" ],
        "responses" : {
          "200" : {
            "description" : "Counts for each group.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "counts" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "group" : {
                            "type" : "array",
                            "description" : "Values of consecutive properties which the entities were grouped by.",
                            "items" : {
                              "oneOf" : [ {
                                "type" : "string"
                              }, {
                                "type" : "number"
                              }, {
                                "type" : "boolean"
                              }, {
                                "nullable" : true
                              } ],
                              "description" : "Value of a corresponding property which the entities were grouped by.",
                              "title" : "getClmConfigBundlesCountBy_response_counts_group"
                            }
                          },
                          "count" : {
                            "type" : "integer",
                            "minimum" : 1,
                            "description" : "A number of entities in this group."
                          }
                        },
                        "required" : [ "group", "count" ],
                        "title" : "getClmConfigBundlesCountBy_response_counts"
                      }
                    }
                  },
                  "required" : [ "counts" ],
                  "title" : "getClmConfigBundlesCountBy_response"
                },
                "examples" : {
                  "By product code" : {
                    "value" : {
                      "counts" : [ {
                        "group" : [ "6554231" ],
                        "count" : 2
                      }, {
                        "group" : [ "6554291" ],
                        "count" : 3
                      } ]
                    }
                  },
                  "Global count" : {
                    "value" : {
                      "counts" : [ {
                        "group" : [ ],
                        "count" : 27
                      } ]
                    }
                  }
                }
              }
            }
          }
        },
        "tags" : [ "CLMconfigurations" ],
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "description" : "The query to execute for filtering (see our <a href=\"#api-RSQL_Specification\">RSQL specification</a>).\n Supports the same property names as <a href=\"#api-CLM_configurations-getClmConfigBundles\">`GET /clmConfigurationBundles` endpoint</a>.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "field",
          "in" : "query",
          "description" : "The field names to group by.\n Supports the same property names as <a href=\"#api-CLM_configurations-getClmConfigBundles\">`GET /clmConfigurationBundles` endpoint</a>.",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/clmConfigurationBundles/{id}" : {
      "get" : {
        "description" : "Get a single CLM configuration bundle. [Deprecated].",
        "operationId" : "CLMconfigurations_getClmConfigBundle",
        "x-permission-sets" : [ "Models:Admin", "Machines:Admin" ],
        "responses" : {
          "200" : {
            "description" : "CLM configuration bundle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : false,
                  "required" : [ "id", "name", "organization", "productCode" ],
                  "properties" : {
                    "id" : {
                      "maxLength" : 256,
                      "type" : "string",
                      "description" : "ID of the CLM configuration bundle"
                    },
                    "name" : {
                      "type" : "string",
                      "description" : "CLM configuration bundle name."
                    },
                    "organization" : {
                      "description" : "The organization unit the CLM configuration belongs to.",
                      "type" : "object",
                      "additionalProperties" : false,
                      "required" : [ "id", "name", "type" ],
                      "properties" : {
                        "id" : {
                          "type" : "string",
                          "description" : "ID."
                        },
                        "name" : {
                          "type" : "string",
                          "description" : "Name."
                        },
                        "type" : {
                          "enum" : [ "proemion", "distributor", "oem", "dealer", "machine_owner", "none" ],
                          "type" : "string",
                          "description" : "Organization unit type."
                        }
                      },
                      "title" : "getClmConfigBundle_response_organization"
                    },
                    "productCode" : {
                      "type" : "string",
                      "description" : "Product code of the CLM unit for which the configuration is designed."
                    },
                    "versionsCount" : {
                      "type" : "number",
                      "description" : "Count of versions in the bundle."
                    }
                  },
                  "title" : "getClmConfigBundle_response"
                },
                "example" : {
                  "id" : "absd1234",
                  "name" : "Bundle name",
                  "organization" : {
                    "id" : "12345fggh",
                    "name" : "Binding org",
                    "type" : "oem"
                  },
                  "productCode" : "6554231",
                  "versionsCount" : 2
                }
              }
            }
          }
        },
        "tags" : [ "CLMconfigurations" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "CLM configuration bundle ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/clmConfigurations" : {
      "get" : {
        "description" : "List CLM configurations.",
        "operationId" : "CLMconfigurations_getClmConfigs",
        "x-permission-sets" : [ "Models:Admin", "Machines:Admin" ],
        "responses" : {
          "200" : {
            "description" : "CLM configurations",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : false,
                  "required" : [ "clmConfigurations" ],
                  "properties" : {
                    "clmConfigurations" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "additionalProperties" : false,
                        "properties" : {
                          "id" : {
                            "maxLength" : 256,
                            "type" : "string",
                            "description" : "ID of the CLM configuration."
                          },
                          "version" : {
                            "type" : "string",
                            "description" : "CLM configuration version."
                          },
                          "type" : {
                            "type" : "string",
                            "enum" : [ "clm", "clm10k", "codesys" ],
                            "description" : "CLM configuration type."
                          },
                          "createdAt" : {
                            "type" : "integer",
                            "description" : "CLM configuration creation time in epoch millis"
                          },
                          "label" : {
                            "type" : "string",
                            "description" : "User-friendly label for this config version."
                          },
                          "bundle" : {
                            "description" : "Version bundle the CLM configuration belongs to",
                            "type" : "object",
                            "additionalProperties" : false,
                            "required" : [ "id", "name" ],
                            "properties" : {
                              "id" : {
                                "maxLength" : 256,
                                "type" : "string",
                                "description" : "ID of the CLM configuration bundle"
                              },
                              "name" : {
                                "type" : "string",
                                "description" : "CLM configuration bundle name."
                              },
                              "organization" : {
                                "description" : "The organization unit the CLM configuration belongs to.",
                                "type" : "object",
                                "additionalProperties" : false,
                                "required" : [ "id", "name", "type" ],
                                "properties" : {
                                  "id" : {
                                    "type" : "string",
                                    "description" : "ID."
                                  },
                                  "name" : {
                                    "type" : "string",
                                    "description" : "Name."
                                  },
                                  "type" : {
                                    "enum" : [ "proemion", "distributor", "oem", "dealer", "machine_owner", "none" ],
                                    "type" : "string",
                                    "description" : "Organization unit type."
                                  }
                                },
                                "title" : "getClmConfigs_response_clmConfigurations_bundle_organization"
                              },
                              "productCodes" : {
                                "type" : "array",
                                "description" : "Product codes of the CLM units for which the configuration is designed.",
                                "items" : {
                                  "type" : "string",
                                  "title" : "getClmConfigs_response_clmConfigurations_bundle_productCodes"
                                }
                              },
                              "cuModel" : {
                                "type" : "string",
                                "description" : "CU model the bundle is designed for.",
                                "example" : "CLM_10000"
                              },
                              "versionsCount" : {
                                "type" : "number",
                                "description" : "Count of versions in the bundle."
                              }
                            },
                            "title" : "getClmConfigs_response_clmConfigurations_bundle"
                          },
                          "previousVersionId" : {
                            "type" : "string",
                            "description" : "Previous version of the CLM configuration."
                          }
                        },
                        "required" : [ "id", "version" ],
                        "title" : "getClmConfigs_response_clmConfigurations"
                      }
                    }
                  },
                  "title" : "getClmConfigs_response"
                },
                "examples" : {
                  "Core field set" : {
                    "value" : {
                      "clmConfigurations" : [ {
                        "id" : "absd1234",
                        "version" : "Version1.2.3",
                        "type" : "clm"
                      }, {
                        "id" : "erdf1234",
                        "version" : "Version2.3.4",
                        "type" : "clm10k"
                      } ]
                    }
                  },
                  "All fields" : {
                    "value" : {
                      "clmConfigurations" : [ {
                        "id" : "absd1234",
                        "version" : "ClmConfigVersionString",
                        "type" : "clm",
                        "createdAt" : 1603780000000,
                        "label" : "1.0",
                        "bundle" : {
                          "id" : "fsdfg345",
                          "name" : "Bundle Z",
                          "organization" : {
                            "id" : "3211fggh",
                            "name" : "CLM config binding org",
                            "type" : "oem"
                          },
                          "productCodes" : [ "01003522", "01003523" ],
                          "versionsCount" : 2
                        },
                        "previousVersionId" : "erdf1234"
                      }, {
                        "id" : "erdf1234",
                        "version" : "ClmConfigVersionString",
                        "type" : "clm",
                        "createdAt" : 1603790000000,
                        "bundle" : {
                          "id" : "fsdfg345",
                          "name" : "Bundle Z",
                          "organization" : {
                            "id" : "3211fggh",
                            "name" : "CLM config binding org",
                            "type" : "oem"
                          },
                          "productCodes" : [ "01003522" ],
                          "versionsCount" : 1
                        }
                      } ]
                    }
                  }
                }
              }
            }
          }
        },
        "tags" : [ "CLMconfigurations" ],
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "description" : "The query to execute for filtering (see our <a href=\"#api-RSQL_Specification\">RSQL specification</a>).\n\nThe following fields are available for both filtering and sorting:\n- `id`: ID of the CLM configuration\n- `version`: CLM configuration version\n- `type`: CLM configuration type (clm, clm10k, codesys)\n- `createdAt`: CLM configuration creation time in epoch millis\n- `label`: User-friendly label for this config version\n- `bundle.productCodes`: Bundle's product codes\n- `bundle.cuModel`: Bundle's CU model\n- `bundle.organization.id`: Bound organization ID\n- `bundle.organization.name`: Bound organization name\n- `bundle.organization.type`: Bound organization type\n- `bundle.name`: Bundle name\n- `bundle.id`: Bundle ID\n- `onlyLatest`: Only latest CLM configuration versions from each bundle.\n Latest is defined as a version, which isn't superseded by any other version.\n Superseding is indicated by supplying the `previous` attribute on the new version.",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "examples" : {
            "filterByVersion" : {
              "value" : "version==V2*"
            },
            "filterByPCode" : {
              "value" : "productCode==01003522"
            }
          }
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "Fields to be returned besides the core set (see our <a href=\"#api-Projection\">Projection specification</a>).",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Query limit",
          "required" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Query offset",
          "required" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Sorting field",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/clmConfigurations/{id}/xml" : {
      "get" : {
        "description" : "Get CLM configuration XML.",
        "operationId" : "CLMconfigurations_getClmConfigXml",
        "x-permission-sets" : [ "Models:Admin" ],
        "responses" : {
          "403" : {
            "description" : "If authenticated requester does not have the required permissions."
          },
          "200" : {
            "description" : "If all is well",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary",
                  "additionalProperties" : false
                }
              }
            }
          },
          "404" : {
            "description" : "If CLM configuration is not found or the requester is not entitled to it."
          }
        },
        "tags" : [ "CLMconfigurations" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "CLM configuration ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/communicationUnits" : {
      "get" : {
        "description" : "List Communication Units.",
        "operationId" : "CommunicationUnits_getCommunicationUnits",
        "x-permission-sets" : [ "None" ],
        "responses" : {
          "200" : {
            "description" : "Page of communication units.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "required" : [ "communicationUnits" ],
                  "properties" : {
                    "communicationUnits" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "additionalProperties" : false,
                        "required" : [ "id", "name" ],
                        "properties" : {
                          "id" : {
                            "type" : "string",
                            "maxLength" : 256,
                            "description" : "External ID; for CLM communication units, this contains their IMEI."
                          },
                          "name" : {
                            "type" : "string",
                            "description" : "Name."
                          },
                          "type" : {
                            "type" : "string",
                            "description" : "Possible values are:\n- ``clm``: CANlink® mobile device.\n- ``aemp``: Virtual device for an import from a 3rd party AEMP API.\n- ``mqtt``: Device built by a well known party, connected via MQTT.\n- ``am_dynapac``: Dynapac telematics unit.\n- ``am_st``: A simple tracker with bidirectonal communication.\n- ``tltnk_st``: Teltonika Simple Tracker.\n- ``tltnk_st``: Teltonika bluetooth beacon (i.e. Eye Beacon and Eye Sensor).\n- ``lw_cognid``: Leonhard Weiss Cognid devices.\n- ``bosch``: Bosch imported devices."
                          },
                          "state" : {
                            "type" : "string",
                            "enum" : [ "created", "provisioned", "live", "resiled", "terminated", "archived" ],
                            "description" : "Values:\n- ``created``: the communication unit is newly created.\n- ``provisioned``: the communication unit is configured for use, but not yet allowed to connect.\n- ``live``: the communication unit is fully configured for connection.\n- ``resiled``: the communication unit is no longer in use.\n- ``terminated``: the communication unit's contract has ended.\n- ``archived``: associated machine has been removed together with all data."
                          },
                          "serial" : {
                            "type" : "string",
                            "description" : "Communication unit serial number."
                          },
                          "model" : {
                            "type" : "string",
                            "description" : "Hardware model or `unknown` if it is not a Proemion hardware."
                          },
                          "hardwareVersion" : {
                            "type" : "string",
                            "description" : "Communication unit hardware version."
                          },
                          "firmwareVersion" : {
                            "type" : "string",
                            "description" : "Communication unit firmware version; may be missing if the communication unit did not provide this information."
                          },
                          "configVersion" : {
                            "type" : "string",
                            "description" : "Communication unit configuration version; may be missing if the communication unit did not provide this information."
                          },
                          "configName" : {
                            "type" : "string",
                            "description" : "Communication unit configuration name; may be missing if the communication unit did not provide this information."
                          },
                          "mobileFirmwareVersion" : {
                            "type" : "string",
                            "description" : "Communication unit mobile firmware version; may be missing if the communication unit did not provide this information."
                          },
                          "wirelessFirmwareVersion" : {
                            "type" : "string",
                            "description" : "Communication unit wireless firmware version; may be missing if the communication unit did not provide this information."
                          },
                          "lastLogin" : {
                            "type" : "integer",
                            "description" : "Last login (in epoch milliseconds) the communication unit has communicated with the server."
                          },
                          "lastLogout" : {
                            "type" : "integer",
                            "description" : "Last logout (in epoch milliseconds) the communication unit has disconnected from the server."
                          },
                          "lastUsedSim" : {
                            "type" : "string",
                            "description" : "ICCID of the SIM used for the last connection."
                          },
                          "operator" : {
                            "type" : "string",
                            "description" : "Mobile network operator of last connection."
                          },
                          "eSim" : {
                            "type" : "string",
                            "description" : "ICCID of embedded-SIM"
                          },
                          "createdAt" : {
                            "type" : "integer",
                            "description" : "The time (in epoch milliseconds) when the communication unit was created."
                          },
                          "installedAt" : {
                            "type" : "integer",
                            "description" : "The time (in epoch milliseconds) when the communication unit was installed to a machine."
                          },
                          "lastSeen" : {
                            "type" : "integer",
                            "description" : "The time (in epoch milliseconds) of the communication unit latest reported data."
                          },
                          "configInstalledAt" : {
                            "type" : "integer",
                            "description" : "The time (in epoch milliseconds) when current configuration was installed; may be missing if the communication unit did not provide information about the configuration version."
                          },
                          "firmwareInstalledAt" : {
                            "type" : "integer",
                            "description" : "The time (in epoch milliseconds) when current firmware was installed; may be missing if the communication unit did not provide information about the firmware version."
                          },
                          "connectionAuthorized" : {
                            "type" : "boolean",
                            "description" : "Indicates if the communication unit is authorized to communicate with the server to transfer data."
                          },
                          "simTrafficCurrentMonth" : {
                            "type" : "integer",
                            "description" : "SIM traffic for the current month (in bytes)."
                          },
                          "opHoursTotal" : {
                            "type" : "integer",
                            "description" : "Communication unit total operating hours. A communication unit often follows the machine power cycle, so this is often a good approximation for the machine operating hours."
                          },
                          "purchaseNumber" : {
                            "type" : "string",
                            "description" : "Customer order reference number."
                          },
                          "productCode" : {
                            "type" : "string",
[...]
